.sellerSec{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.sellerSec form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.mailpass{
    width: 25rem;
    height: 4rem;
    background:none;
    border: 1px solid aqua;
    font-size: 1rem;
    color: darkturquoise;
    padding: .5rem 1rem;
    font-family: "Roboto Mono", monospace;
  }
.sellerSec form label {
    font-family: "Roboto Mono", monospace;
}
.sellerSec form div input{
    margin:0 .5rem;
   
  }

.sellerSec form button{
    width: 25rem;
    background:darkturquoise;
    border: 1px solid aqua;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    padding: .5rem 1rem;
    font-family: "Roboto Mono", monospace;
}.sellerSec form button:hover{
    background:none;
    color: darkturquoise;
}

@media screen and (max-width:450px) {
   .mailpass{
        width: 20rem;
    }
    
    .sellerSec form button{
        width: 20rem;
    }
}






