.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.container h1{
  font-family: "Roboto mono", monospace;
  border-bottom: 1px solid gray;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
 
  font-weight: bold;
}

.table tr:hover {
  background: #f9f9f92d;
}
.table td button{
  border-radius: 3rem;
  background-color: red;
  cursor: pointer;
}.table td button:focus{
  background-color: white;
}

  /* Responsive table */
@media (max-width: 700px) {
  .table th, .table td {
    font-size: .6rem;
  }
  .table td a{
    font-size: .6rem;
    text-align: center;
  }
}


