.container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .orderList {
    list-style: none;
    padding: 0;
  }
  
  .orderList li {
    margin-bottom: 15px;
    padding: 10px;
    background: #f9f9f910;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  