.topics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.overview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.ovDesc, 
.ovPic{
    width: 50%;
    padding: .5rem;
    text-align: center;
}

.ovPic img{
    width: 100%;
}
.ovDesc p {
    font-size: .9rem;
    text-align: justify;
}

.ovDesc h1{
    color: cornflowerblue;
}

.serv{
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.servimg,
.servDesc{
    width: 50%;
    padding: 1rem;
    text-align: center;
}
.servimg img{
    width: 80%;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
}

.servDesc h1{
    font-size: 2.4rem;
    text-align: left;
    color: rgb(174, 253, 100);
}

.servDesc .servList{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    text-align: left;
}
.servList ul{
    list-style-type: circle;
}

.servLink{
    text-align: left;
    margin: 1rem 0;
}
.servLink a button{
    border: 1px solid hotpink;
    background: none;
    color: aqua;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.servLink a button:hover{
    background: aqua;
    color: black;
}

.offerImg{
    width: 100%;
    margin: 2rem 0;
}
.offerImg img{
    width: 100%;
}


.footer-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.footer-icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1rem;
}

.icon-item {
    text-align: center;
    max-width: 16rem;
    background-color: #666;
    color: #ddd;
    padding: .5rem 1.2rem;
    border-radius: .5rem;
}

.icon-item svg{
    font-size: 2rem;
    color: aqua;
}

.icon-item h4 {
    font-size: 16px;
    margin-top: 10px;
}

.icon-item p {
    font-size: 14px;
}


.statistics {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    background-color: #15989c; /* Use the orange color */
    color: white;
  }
  
  .counters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 2rem;
  }
  
  .counter-item {
    text-align: center;
  }
  
  .counter-item h2 {
    font-size: 2em;
    margin: 0;
  }
  
  .counter-item p {
    font-size: 1em;
  }
  



@media (max-width:800px) {
    .overview{
        flex-direction: column;
    }
    .ovDesc, 
    .ovPic{
        width: 100%;
    }

    .serv{
        flex-direction: column;
    }
    .servimg,
    .servDesc{
        width: 100%;
    }
    .servDesc h1{
        font-size: 1.8rem;
    }
    .servimg img{
        width: 90%;
    }
}

@media (max-width:600px) {

    .servDesc h1{
        font-size: 1.4rem;
    }

    .servDesc .servList{
        flex-direction: column;
        justify-content: center;
        gap: 1rem
    }

    .servLink{
        text-align: center;
    }

    .servLink a button{
        transform: scale(.85);
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
    }
    .statistics{
        text-align: center;
    }
    .counters {
        flex-direction: column;
        justify-content: center;
      }
}
